<h1 id="page_title">My Blog</h1>

<div id="posts_container">
<% @posts.each do |post| %>
	<div class="post">
		<h2 class="post_title"><%= post.title.html_safe %> - <%= post.created_at.strftime("%F") %></h2>
		<div class="post_body"><%= post.body.html_safe %></div>
	<% if admin_signed_in? %>
		<div class="admin_comments_alert">
			<% if post.num_ua >= 1 %>
				<span class="has_unapproved">
			<% else %>
				<span class="no_unapproved">
			<% end %>
			<%= link_to "#{post.num_comments + post.num_ua} total comments - #{post.num_ua} unapproved", post %>
		</div>
	<% else %>
		<div class="num_comments"><%= link_to "#{post.num_comments} comments", post %></div>
	<% end %>
<% end %>
