<!DOCTYPE html>
<html>
	<head>
		<%= render partial: 'layouts/head', locals: {master_css: @master_css} %>
	</head>

	<body>
		<div id="body_container">
			<p class="navbar-text pull-right admin_container">
				<% if admin_signed_in? %>
					<%= link_to 'New Post', new_post_path, id: 'new_post' %> | 
					<%= link_to 'Settings', edit_admin_registration_path, :class => 'navbar-link', id: 'admin_settings' %> |
					<%= link_to 'Logout', destroy_admin_session_path, method: :delete, class: 'navbar-link', id: 'admin_logout'  %>
				<% else %>
					<%= link_to 'Login', new_admin_session_path, class: 'navbar-link', id: 'admin_login'  %>
				<% end %>
			</p>

			<% flash.each do |key, value| %>
				<div class="centered alert alert-<%= key %>">
					<%= value %> <br />
				</div>
			<% end %>

			<%= yield %>
		</div>
  	<%= render 'layouts/footer' %>
	</body>
</html>
