<!DOCTYPE html>
<html>
	<head>
		<%= render partial: 'layouts/head' %>
	</head>

	<body>
		<div id="body_container">
			<% flash.each do |key, value| %>
				<div class="centered alert alert-<%= key %>">
					<%= value %> <br />
				</div>
			<% end %>

			<%= yield %>
		</div>
  	<%= render 'layouts/footer' %>
	</body>
</html>
